{% import "macros.html" as macros with context %}
{% extends "home.html" %}
{% block content %}

<!-- Header -->
<header class="masthead" style="background-image: url('../static/images/pexels-photo.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Migrate Your Bullets</h1>
                    <span class="subheading">Use the checkbox to select bullets to move</span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <form role="form" method="POST">
                <div class="post-priview">
                    <div style="display: inline">
                        New Date: <input type="text" name="date" id="datepicker">
                    </div>
                    
                    <div style="display: inline">
                        <button type="submit">Submit</button>
                    </div>
                </div>
                <br/>
            
                {% for bullet in bullets %}
                
                    <div class="post-preview">
                        {{ macros.render_bullet(bullet) }}
                        <p class="post-meta">
            
                            <input type="checkbox" id="backlog_list" name="backlog_list" value="{{ bullet.id }}">
            
                        
            
                                <a href="{{ url_for('edit_bullet_get', ID=bullet.id) }}">Edit Bullet</a> |
                                <a href="{{ url_for('delete_bullet', ID=bullet.id) }}">Delete Bullet</a> |
                                <a href="{{ url_for('migrate_bullet_get', ID=bullet.id) }}">Migrate Bullet</a>|
                                <a href="{{ url_for('complete_bullet', ID=bullet.id) }}">Complete Bullet</a>
                        </p>
                    </div>
                    <hr>
            
                {% endfor %}
                
            </form>
            <div class="clearfix">
                
            </div>
        </div>
      </div>
    </div>
{% endblock %}