{% extends "home.html" %}
{% block content %}

<!-- Header -->
<header class="masthead" style="background-image: url('../static/images/pexels-photo.jpg')">
    <div class="overlay"></div>
        <div class="container">
            <div class="row">
              <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
            <h1>Edit Your Bullet</h1>
              <span class="subheading"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
        
        <form role="form" method="POST">
            <div style="width: 50%">
                <label style="text-align: left">Date: </label>
                <input type="text" name="date" id="datepicker" style="float: right">
                <br/>

                <label for="contentType" style="text-align: left">Bullet Type: </label>
                <select id="contentType" name="contentType" style="float: right">
                    <option value="task">Task</option> 
                    <option value="event">Event</option>
                    <option value="note">Note</option>
                </select>
                <br/>

                <label for="content" style="text-align: left">Content: </label>
                <textarea id="content" name="content" style="float: right" placeholder="Bullet content" rows="2" required>{{ bullet.content }}</textarea>
                <br/>
            </div>
            <br/>
            <button type="submit">Submit</button>
        </form>

        </div>
    </div>
</div>

{% endblock %}