{% macro render_bullet(bullet) %}
    
    <div style="display: inline">
        {% if bullet.contentType == "task" %}
            <p>*</p>
        {% elif bullet.contentType == "event" %}
            <p>O</p>
        {% elif bullet.contentType == "note" %}
            <p style="display: inline">-</p>
        {% endif %}
    </div>
    <div style="display: inline">
        <p style="display: inline">{{ bullet.content | markdown }}</p>
    </div>
    
    <p>{{ bullet.date | dateformat("%m/%d/%y") }}</p>
    
{% endmacro %}